{% extends "base2.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Roll dice hand</h1>

<p>You rolled {{ num_dices }} dices. Here is the value of the dices.</p>

<ul class="dicearea">
{% for roll in diceRoll %}
    <li><span class="die">{{roll }}</span> </li>
{% endfor %}
</ul>

<p>Try to roll 
    <a href="{{ path('test_dicehand', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_dicehand', {num: 10}) }}">10</a>
    dices.
</p>
{% endblock %}