main {
    margin: 0 auto;
    max-width: 600px;
    min-height: 100vh;

}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
/* body {
    background: url('../images/background.jpg');
    background-size: cover;

} */

header {
    height: 150px;
    background: linear-gradient(to bottom,#fff,#a2fc9d, #008000);
    border-bottom: 2px solid #008000;
}

h1 {
    border-bottom: 4px double #ccc;
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mvc-image {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.site-title {
    display: block;
    text-align: center; 
    font-size: 28px;
}

.rotate {
    animation: rotation 2s infinite linear;
    width: 150px;
    height: auto;
    border-radius: 30%;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
 
.rotate-2 {
    animation: rotation 5s infinite linear;
    width: 150px;
    height: auto;
    /* transform: translateX(200px); */
}

.image-container img {
    margin-right: 100px;
}

.lankar a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.lankar a:hover {
    color: #aaf6aa;
}