{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <li>
        <a href="https://github.com/dbwebb-se/mvc">MVC github</a>
    </li>
    <li>
        <a href="https://github.com/zoebalowi/mvc">Min github</a>
    </li>
    <p>I kursen om MVC, som står för Objektorienterade webbteknologier, fokuserar vi på hur man använder objektorienterade programmeringstekniker i PHP.</p>
    <p>Vi tittar på gamla hederliga objektorienterade grejer tillsammans med hur man programmerar objektorienterat inom webbaserade ramverk, plus hur man hanterar databaser och enhetstestning.</p>
    <img class="mvc-image" src="{{ asset('build/images/mvc.png') }}" alt="">
    
        
{% endblock %}