{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hej! Mitt namn är Zoë Waters, jag är 21 år gammal och pluggar webbprogrammering på Blekinge tekniska högskola.</p>
    <p> Jag kommer från stockholm men flytta till karlskrona 2022 för att plugga tekniskt basår på BTH. På min fritid brukar jag vara med kompisar, festa, kolla på filmer och chilla! Ibland till och med träna..</p>
    <img class="profile-image" src="{{ asset('build/images/jag.JPEG') }}" alt="" sizes="45x45">
    

{% endblock %}